.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f4f5e1;
}
header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 100;
 
}
.logo img {
  width: 80px;
  height: 74px;
}

.bars {
  display: none;
  padding: 2px;
  border: solid 4.5px;
  border-radius: 10px;
  
}
.nav-bar{
 
position: relative;
right: 15rem;

}
.nav-bar ul {
 
 display: flex;
 
 
}

.nav-bar ul li a {
  text-decoration: none;
  display: block;
  color: rgb(135, 135, 135);
  font-size: 22px;
  padding: 10px 25px;
  border-radius: 15px;
  transition: 0.2s;
  
}
/* .nav-bar ul li a:hover {
  background-color: #8FCEA5;
  color: white;
} */

.nav-bar ul li a,
.nav-bar ul li a {
  position: relative;
}
.nav-bar ul li a:after,
.nav-bar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;

  content: ".";
  color: transparent;
  background: #664eec;
  height: 3px;
  transition: 0.7s;
}
.nav-bar ul li a:hover:after {
  width: 100%;
}
.donar{
  position: relative;
  left:  13rem;
  display: flex!important;
  justify-content: start!important;
}
.donar a{
 
  width: auto;
  font-weight: bolder;

  
}
.donar a:hover{
  
  
  background-color: #009929;
 color: white !important;
 transition: .8s;

  
}
.nav-bar ul .donar a:hover:after {
  width: 
  0;
}


.portada {
  width: 100%;
}

.portada img {
  width: 100%;
  height: 40.1rem;
  object-fit: cover;
}
.portada-sombra {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.329);
  top: 2px;
  width: 100%;
  height: 42.9rem;
  z-index: 1;
}
.portada-titulo {
  position: absolute;
  top: 5rem;
  font-size: 55px;
  color: white;
  left: 23rem;
  top: 31rem;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 40px;

  margin: 4px;
  margin-top: 50px;
}

.card-n-mision {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  margin: 1rem;
}
.col {
  width: 21rem;
}
.card-title {
  font-weight: bold;
}
.card-text {
  text-align: justify;
}
.boxes {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}
.box {
  background-color: white;
  position: relative;
  top: -4rem;
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 20px;
  width: 17rem;
  height: 13rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index:1;
}
.box_img {
  display: flex;
  justify-content: center;
}
.titulo {
  display: flex;
  justify-content: center;
 
}
.line {
  width: 10rem;
  height: 5px;
  margin-top: 2.5rem;
  background-color: #53ec4e;
}
.titulo h1 {
  margin: 1rem;
  
}

.home-card {
  display: flex;
  margin-top: 6rem;
}
.home-img {
  flex: 1;
}
.home-img img {
  height: 100%;
  width: 100%;
}

.home-content {
  flex: 1.5;
  padding: 40px 30px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  color: rgb(99, 241, 70) !important;
}

.home-content h3 {
  font-size: 44px;
  color: white !important;
  margin-top: 2.5rem;
  
}
.home-content p {
  color: #ccc;
  text-align: justify;
  line-height: 1.6;
  margin-top: 0.5rem;
  font-size: 18px;
}

.cajas_data {
 
  display: flex;
 justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem ;
  margin-bottom: 3rem;
  margin-left: .1rem;
  margin-right: .1rem;
}
.data{

  margin: 0rem 5rem;
}
.data img {
  height: 10rem;
  width: 9rem;
}

/* GALERIA */
.galeria_home h1 {
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.galeria_home{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15;
}

.container_galery{
  position: relative;
 margin: auto;
  width: 50%;
  max-width: 300px;
}
.container_galery img{
  margin: 1rem;
  display: block;
  width: 95%;
  height: 23rem;
  border-radius: 5px; 
  border: solid 2px #1e1e1f;
  object-fit: cover;

 
 
}
.overlay{
  position: absolute;
  left: 1rem;
  border-radius: 5px; 
  bottom: 15px;
  background: rgb(0, 0, 0);
  background: rgba(15, 15, 15, 0.801);
  color: #f1f1f1; 
  width: 95%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.container_galery:hover .overlay {
  opacity: 1;
}
.overlay button{
 
  
padding: 5px 25px 25px 25px;
color: rgb(106, 185, 185);
}


/* SOBRE NOSOTROS */

.about {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 100%;
}
.about-cajas {
  width: 21rem;
  max-height: 115vh;
background-color: white;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1px;
  margin: 0px 50px 0px 50px;
  margin-bottom: 3rem;
}
.about_img {
  display: flex;
  justify-content: center;
}
.about_img img {
  margin-top: 0.5rem;
  width: 6rem;
  height: 6rem;
}
.content_about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content_about p {
  text-align: justify;
  margin: 0px 25px 0px 25px;
  margin-bottom: 1rem;
}

.mision_v_v {
  margin-top: 5rem;
  background-color: #0000000a;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.mvv {
margin-top: 3rem;
 width: 100%;
 display: flex;

}
.mvv .content{

  
  width: 60%;

}
.mvv .video{

  width: 40%;
}
.mvv .video video{
  height: 100%;
  width: 100%;
}
.botones{
  display: flex;
  justify-content: center;
}
.mvv button{
  margin-top: 2rem;
display: inline;
font-weight: bold;
  background-color: rgb(254, 255, 255);
  border: solid 0.1px #333;
  width: 11em;
  height:3.5rem;
 }
 .mvv p{
  padding: 1.5rem 9rem 0rem 9rem;
 text-align: justify;
 }

 .mvv button:hover {
  background-color: #f8af26;
}




.quienes_somos {
  display: flex;

  background-color: #333;
}
.content_quienes_somos {
  color: #ccc;
  display: block;
  align-content: center;
  padding: 1.5rem;
  width: 60%;
  text-align: justify;
}
.titulo_quienes_somos {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 20px;
  color: rgb(99, 241, 70) !important;
}
.img-quienes_somos {
  width: 40%;
}
.img-quienes_somos img {
  width: 100%;
  height: 100%;
  /* border-radius: 55px 10px 55px 10px; */
}

.slider {
  width: 98vw;
  margin: auto;
  overflow: hidden;
  margin-bottom: 3rem;
}

.slide_donantes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

.donante {
  flex: 0 0 auto;
}

.donante img {
  width: 14rem;
  height: 10rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-14rem * 8));
  }
}

.Nuestos_donantes {
  margin-bottom: 3rem;
}

/* PROGRAMAS Y PROYECTOS */

.programas {
  color: #8a8888;
}
.programa {
  display: flex;

  padding: 1rem;
}
.img_programa {
  display: flex;

  padding: 1rem;
  width: 40rem;
  height: 60vh;
}
.programa img {
  border-radius: 10px;
  width: 100%;
  
}
.content_programa {
  margin: auto;

  display: flex;

  align-items: start;
  flex-direction: column;

  width: 50%;
  padding: 1rem;
}

.content_programa h1 {
  margin-bottom: 2rem;
  text-align: center;
  margin: auto;
}
.content_programa p {
  text-align: justify;
}

.link_proyectos {
  margin-top: 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.proyectos {
 
  width: 7REM;
  background-color: #664eec;
  border-radius: 25px;
  padding: 5px 15px 5px 15px;
  color: white;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}
/* CONTACTANOS */

.titulo-contactanos{
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.contactanos {
  display: flex;
  margin-bottom: .3rem;
  
}
.contactos-contactanos {
  display: flex;justify-content: center;
  flex-wrap: wrap;


  width: 50%;
 
}
.contacto-contactanos {
  width: 19rem;
  height: 25vh;
  background-color: #25272E;
  margin: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 3px;
}
.contacto-contactanos .icon-contactanos{
color: white;
margin-left: .5rem;
}
.contacto-contactanos .text-contactanos{
color: white;
padding: 15px 15px;
text-align: justify;
  }
  .contacto-contactanos h4{
 font-weight: bold;
 color: white;
      }

.ubicacion {
  width: 50%;
  height: 24rem;
}

.ubicacion iframe {
  width: 100%;
  height: 100%;

}
/* PLANTILLA BLOG */
.blogs{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 

}
.blog{
border-radius: 5px;
  width: 20rem;
margin: 1.7rem  3rem 1.7rem 3rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.blog-img {

width: 100%;
height: 18rem;
 



}
.blog-img img{
 
  height: 100%;
  width: 100%;
  padding: .5rem;



}
.blog-content{
  display: flex;
  
  flex-direction: column;

}
.blog-content h3{
  font-size: 24px;
  font-weight: bold;
padding: 5px 25px 5px 25px;
}
.blog-content button{
  display: flex;
  align-self: flex-end;
  font-weight: bold;
padding: 5px 25px 25px 25px;
color: rgb(106, 185, 185);


}
.blog-text p{
padding: 5px 25px 5px 25px;
text-align: justify;

}
.swal2-html-container{
  text-align: justify !important;
}



/* FOOTER */
footer {
  background-color: #25272e;
  color: white;

  width: 100%;
  max-height: 1000vh;
}

.contactos {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
.contacto {
  margin: 2rem;
  margin-top: 3rem;
  width: 23rem;
  height: 7rem;

  display: flex;
  flex-direction: row;
}
.contacto .icon {
  width: 15%;

  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 30px;
}
.contacto .text {
  margin-top: 20px;
  margin-left: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.contacto p {
  padding: 0px 22px 0px 0px;
  text-align: justify;
  color: #ccc;
}

.contacto h2 {
  padding: 0px 14px 0px 14px;
}




@media (max-width: 985px) {

 /* NAV */
  header {
    position: relative;
        padding: 0px 30px;
   
  }

  .bars {
    display: block;
    cursor: pointer;
  }

  .bars .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0px;
  }

  .nav-bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: rgb(81, 81, 81);
    transition: 0.5s;
    display: none;
    /* overflow: hidden;  */
  }

  .nav-bar.active {
    height: 450px;
  }

  

  .nav-bar ul {
    display: block;
    width: 100%;
    height: 530px;
    margin: -20px auto 1 auto;
    position: relative;
    left: 0.01rem;
    transition: 0.5s;
    background-color: white;
    /* opacity: 0; */
    text-align: center;
  }

   /* .nav-bar.active ul {
    opacity: 1;
  }  */

  .nav-bar ul li a {
    margin-bottom: 20px;
    position: relative;
    left: -1rem;
    color:#333;
  }

  



.donar{

  position: relative;
  left: -.01rem;
 
 
}
.donar a{
  margin-top: 2rem!important;
  
  background-color: #009929;
 color: white !important;
  width: auto;
  position: relative;
margin: auto;
  
}

  .portada {
    width: 100%;
    
  }
  
  .portada img {
    height: 13rem;
    
    
  }
  .portada-sombra {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.329);
    top: 2px;
    width: 100%;
    height: 42.9rem;
    z-index: 1;
  }
  .nav-bar ul li a:hover:after {
    width: 50%;
  }

   
  /* HOME */
  .boxes{

    margin-top: 5rem;
  }
 .box{
 
  margin: 1rem;
  width: 8rem;
  height: 8rem;
 }

  .titulo h1{
    font-size: 24px;
 margin-top: -.4rem;
    text-align: center;

   
  } 

  .home-card {

    flex-direction: column;
   
  }
  .home-card .home-titulo{
    font-size: 24px;
   text-align: center;
   
  }
  .data{

margin: 1rem;
  }
/* corregir galeria */
  .galeria_home{
  
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;

  margin: 0;
  }
 

  /* corregir galeria */
/* FOOTER */
/* .contactos{
   */

/* } */
.contacto{
  margin-left: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

height: 5rem;
  
  

}
.contacto .icon {
 margin-left: 2px;
  margin-top: 15px;
  margin: auto;
}
.contacto p{
  font-size: 12px;
 

}
.contacto h4{
  margin-top: -12px;
  font-size: 15px;
}
/* NOSOTROS */
.quienes_somos{
  
  flex-direction: column;
}
.titulo_quienes_somos{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.content_quienes_somos{
  width: 100%;
 
}

.img-quienes_somos{
  width: 100%;
}
.mvv {
  flex-direction: column;
}

.mvv .video {

width: 100%;
}
.mvv .content{
  width: 100%;
  padding: 1rem;
  
}
.mvv p{
  padding:  1rem ;
 
 }
 /* PROGRAMAS */
 .programa{
  flex-direction: column;
  
 }
 .img_programa{
  
  width: 100%;
  height: auto;
 }
 .img_programa img{
  
  object-fit: cover;
 }
 .content_programa {

  width: 100%;
 }
 .contactanos{

flex-direction: column;
 }
 .contactos-contactanos{

width: 100%;

 }
 .contacto-contactanos{
  margin: 3px;
 }
 .ubicacion {
  width: 100%;
 }

}


